{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<html xmlns="http://www.w3.org/1999/xhtml">#}

{% extends 'ADMIN/index.html' %}
{% block body %}

{#<head>#}
{#<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />#}
{#<title>Untitled Document</title>#}
{#</head>#}

<body>
<form id="form1" name="form1" method="post" action="add_notification_post">
  <table width="200" border="1"  class="table">
        <tr>
      <td class="bg-dark text-white" colspan="9" style="font-size: 20px" align="center">ADD NOTIFICATION</td>
  </tr>
    <tr>
      <td>Notification</td>
      <td><textarea  type="text" name="textfield">
         </textarea>
   </td>
    </tr>
   <tr>
      <td colspan="2" align="center"><label>
        <div align="center">
          <input type="submit" name="Submit" value="ADD" class="btn btn-dark"/>
          </div>
      </label></td>
    </tr>
  </table>
</form>
{#</body>#}
{#</html>#}
{% endblock %}