{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<html xmlns="http://www.w3.org/1999/xhtml">#}
{#<head>#}
{#<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />#}
{#<title>Untitled Document</title>#}
{#</head>#}
{% extends 'ADMIN/index.html' %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1" class="table table-bordered table-hover table-white">
  <tr>
      <td class="bg-dark text-white" colspan="9" style="font-size: 20px" align="center"><b>VIEW USERS</b></td>
  </tr>
    <tr>
       <td colspan="6"><b>User</b>

        <input type="text" name="textfield" />
      <button type="submit" class="btn btn-primary">
  <span class="glyphicon glyphicon-search"></span> Search
</button>
    </tr>
    <tr>
      <td><b>Slno</b></td>
      <td><b>Name</b></td>
      <td><b>Photo</b></td>
      <td><b>Address</b></td>
      <td><b>Phone_no</b></td>
      <td><b>Email</b></td>
    </tr>
       {% for i in val %}
    <tr>
        <td>&nbsp;{{ forloop.counter}}</td>
      <td>&nbsp;{{ i.name }}</td>
        <td>&nbsp;&nbsp;<img src="media/{{ i.photo }}" width="100dp" height="100dp" /></td>

      <td>{{ i.place }},{{ i.post }},{{ i.pin }}</td>
      <td>{{ i.phone }}</td>
      <td>{{ i.email }}</td>
    </tr>
      {% endfor  %}
  </table>
</form>
{% endblock %}

{#</body>#}
{#</html>#}
