{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<html xmlns="http://www.w3.org/1999/xhtml">#}
{#<head>#}
{#<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />#}
{#<title>Untitled Document</title>#}
{#</head>#}
{% extends 'ADMIN/index.html' %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="/sbydate">
  <table width="200" border="1"class="table table-bordered table-hover table-white">
   <tr>
       <td class="bg-dark text-white" colspan="9" style="font-size: 20px" align="center"><b>VIEW PURCHASE</b></td>
  </tr>

  <tr>
       <td colspan="8"><b>Date</b>

        <input type="date" name="d"  required value="{{ d }}"      />

      <b>Status</b><select name="s">
      <option {% if s == 'ALL' %} selected {% endif %}>ALL</option>
      <option {% if s == 'PAID' %} selected {% endif %}>PAID</option>
      <option {% if s == 'OFFCART' %} selected {% endif %}>OFFCART</option>
      <option {% if s == 'ORDER' %} selected {% endif %}>ORDER</option>


      </select>
       <b>ordertype</b><select name="O">
      <option {% if o == 'online' %} selected {% endif %}>online</option>
      <option {% if o == 'offline' %} selected {% endif %}>offline</option>
           </select>


      <button type="submit" class="btn btn-primary">
  <span class="glyphicon glyphicon-search"></span> Search
</button>
       </td>
    </tr>


    <tr>
      <td><b>Slno</b></td>
      <td><b>User</b></td>
      <td><b>Amount</b></td>
      <td><b>Date</b></td>
      <td><b>Status</b></td>
        <td><b>Ordertype</b></td>
    </tr>
    {% for i in val %}
    <tr>

        <td>{{forloop.counter }} </td>
      <td>{{ i.USER.name }} </td>
      <td>{{ i.amount }}</td>
      <td>{{ i.date }}</td>
      <td>&nbsp;{{ i.status }}</td>
    <td>&nbsp;{{ i.ordertype }}</td>
    </tr>
      {% endfor  %}
  </table>
</form>
{% endblock %}


{#</body>#}
{#</html>#}
