{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<html xmlns="http://www.w3.org/1999/xhtml">#}
{#<head>#}
{#<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />#}
{#<title>Untitled Document</title>#}
{#</head>#}
{##}
{#<body>#}
{% extends 'STAFF/staffindex.html' %}
{% block body %}

<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1"  class="table table-bordered table-hover table-white">
   <tr>
        <td class="bg-dark text-white"  colspan="10" style="font-size: 20px" align="center"><b> VIEW ORDER ITEM</b></td>
  </tr>
    <tr>
      <td width="43"><b>product name</b> </td>
      <td width="43"><b>image</b></td>
      <td width="43"><b>Price</b></td>
      <td width="43"><b>quantity</b></td>
    </tr>
      {% for i in val %}
    <tr>
{#      <td height="88">&nbsp;</td>#}
      <td>{{ i.PRODUCT.productname }}</td>
      <td><img src="{{ i.PRODUCT.image.url }}" width="100" height="100"></td>
              <td>&nbsp;{{ i.PRODUCT.price }}</td>

      <td>&nbsp;{{ i.quantity }}</td>
    </tr>
      {% endfor %}
  </table>
</form>
{% endblock %}
{#</body>#}
{#</html>#}
